<%= form_for(@art) do |f| %>
  <% if @art.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@art.errors.count, "error") %> prohibited this art from being saved:</h2>

      <ul>
      <% @art.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :style %><br />
    <%= f.text_field :style %>
  </div>
  <div class="field">
    <%= f.label :medium %><br />
    <%= f.text_field :medium %>
  </div>
  <div class="field">
    <%= f.label :created_on %><br />
    <%= f.date_select :created_on %>
  </div>
  <div class="field">
    <%= f.label :artist %><br />
    <%= f.text_field :artist %>
  </div>
  
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
    <%= f.text_field :remote_photo_url %>
  </div>
 
  <div class="field">
    <%= f.label :museum_id %><br />
    <%= f.select :museum_id, Museum.all.map{|a|[a.name, a.id]}, {:prompt =>"Select the museum to which the art belongs"} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
