<p id="notice"><%= notice %></p>


<h1><%= @art.name %></h1>
  
<%= image_tag(@art.photo) %>

<p>
  <b>Style:</b>
  <%= @art.style %>
</p>

<p>
  <b>Medium:</b>
  <%= @art.medium %>
</p>

<p>
  <b>Created on:</b>
  <%= @art.created_on %>
</p>

<p>
  <b>Artist:</b>
  <%= @art.artist %>
</p>

<p>
<b>Museum:</b>
  <%= @art.museum.name %>
</p>

<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %> |
<%= link_to 'Destroy', @art, method: :delete, data: { confirm: 'Are you sure?' } %>
