<%= form_for(@museum) do |f| %>
  <% if @museum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@museum.errors.count, "error") %> prohibited this museum from being saved:</h2>

      <ul>
      <% @museum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>

 <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
    <%= f.text_field :remote_photo_url %>
  </div>

<div class="field">
    <% Art.all.each do |art| %>
    <%=art.name%>
    <%= check_box_tag 'museum[art_ids]{}', art.id, @museum.arts.include?(art)%>
    <%end%>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
